{% extends "base.html" %}
{% block content %}
    <div class="teams">
        <h2>Our Team</h2>
        <div class="media profile">
            <div class="media-left">
            <a href="#">
            </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Khushmeet Singh</h4>
            </div>
        </div>
        <div class="media profile">
            <div class="media-left">
            <a href="#">
            </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Pavan Dandu</h4>
            </div>
        </div>
        <div class="media profile">
            <div class="media-left">
            <a href="#">
            </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Mohit Ramna</h4>
            </div>
        </div>
    </div>
{% endblock %}